*{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: #FFBF86;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: #544179;
}
.shopping-basket{
    order: 2;
    position: relative;
}
.nb-product{
    position: absolute;
    right: 32%;
    top: 50%;
    color: rgb(156, 21, 21);
    font-weight: 800;
}
#deleteBtn{
    float: right;
    background-color: #FFBF86;
}
#formulaire, table{
    width: 400px;   
    margin: auto;
    background-color: cadetblue;
    padding: 1em;
    border-radius: 5px;
}
input, select{
    border-radius: 3px;
    background-color: rgb(241, 239, 229);
    border: 1px solid rgb(195, 228, 130);
    cursor: pointer;
}
h1,label, th{
    color: rgb(255, 243, 221);
}
.submit, input, .texte, select{
    color: #544179;
    padding: 0.4em;
}

table, #message, p{
    text-align: center;
}
tr{
    color: #FFBF86;
}

form{
    margin: auto;
    background-color: #FFBF86;
    padding: 1em;
    border-radius: 5px;
}
.formulaire{
    width: 360px;
}
.success{
    background-color: rgb(129, 255, 157);
    color: rgb(22, 78, 25);
}
.error{
    background-color: rgb(255, 134, 134);
    color: rgb(78, 22, 22);
}
.notice{
    background-color: rgb(134, 211, 255);
    color: rgb(23, 22, 78);
}
#message{
    padding: 1em;
}
#message{
    width: 400px;   
    margin: auto;
    border-radius: 5px;
}